.applist {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 6% 0 2%;
  background: white;

  &:first-of-type {
    border-top: 1px solid #e1e1e1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__job {
    width: 50%;
    padding-right: 40px;
  }

  &__applied {
    width: 30%;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: teal;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
  }

  &__subheader {
    font-size: 1rem;
  }

  &__description {
    font-size: 0.875rem;
  }

  &__status {
    font-size: 1rem;
    font-weight: bold;
  }

  &__button {
    width: 70px;
    height: 70px;
    cursor: pointer;

    &:hover {
      background-color: #dcdcdc;
    }
  }
}
