@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

.header {
  display: flex;
  padding: 0 5%;
  align-items: center;
  color: white;
  background-color: teal;
  position: fixed;
  width: 90%;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 98;

  &__logo {
    height: 50px;
    width: 50px;
    margin-right: -12px;
    margin-bottom: 3px;
  }

  &__title-container {
    display: flex;
    width: 25%;
    align-items: center;
  }

  &__user-container {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
  }

  &__logout {
    width: 9%;
    background-color: teal;
    height: 64px;

    &-button {
      float: right;
      margin: 15px;
      color: white;
      width: 40px;
      background-color: teal;
      transition: width 0.35s;
      -webkit-transition: width 0.35s;
      overflow: hidden;
      text-decoration: none;
      font-size: 100%;
      border: 0;
      font-family: inherit;
      cursor: pointer;

      &:hover {
        width: 125px;
      }

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }

    &-avatar {
      width: 30px;
      border-radius: 50px;
      float: left;
    }

    &-text {
      font-size: 0.8em;
      font-family: "Roboto", sans-serif;
      position: relative;
      right: -13px;
      bottom: -7px;
      overflow: hidden;
      letter-spacing: 3px;
      opacity: 0;
      transition: opacity 0.45s;
      -webkit-transition: opacity 0.35s;
    }

    &-button:hover .header__logout-text {
      opacity: 0.9;
    }
  }
}
