.header {
  display: flex;
  padding: 0 5%;
  align-items: center;
  color: white;
  background-color: teal;
  position: fixed;
  width: 90%;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 100;

  &__logo {
    height: 50px;
    width: 50px;
    margin-right: -12px;
  }

  &__title-container {
    display: flex;
    width: 25%;
    align-items: center;
  }

  &__user-container {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
  }

  // &__total {
  //   margin-right: 10px;
  // }

  // &__logout {
  //   font-size: 0.8em;
  //   font-family: "Oswald", sans-serif;
  //   position: relative;
  //   right: -18px;
  //   bottom: -4px;
  //   overflow: hidden;
  //   letter-spacing: 3px;
  //   opacity: 0;
  //   transition: opacity 0.45s;
  //   -webkit-transition: opacity 0.35s;

  //   &-container {
  //     // width: 100%;
  //     background-color: black;
  //   }

  //   &-avatar {
  //     width: 30px;
  //     height: 30px;
  //     // float: left;
  //   }

  //   &-button {
  //     text-decoration: none;
  //     float: right;
  //     padding: 12px;
  //     margin: 15px;
  //     color: white;
  //     width: 25px;
  //     background-color: black;
  //     transition: width 0.35s;
  //     -webkit-transition: width 0.35s;
  //     overflow: hidden;
  //     text-decoration: none;

  //     &:hover {
  //       width: 100px;
  //     }
  //   }

  //   a .header__logout {
  //     opacity: 0.9;
  //   }
  // }

  &__logout {
    width: 9%;
    background-color: teal;
    height: 64px;

    &-button {
      text-decoration: none;
      float: right;
      padding: 0 12px;
      margin: 15px;
      color: white;
      width: 25px;
      background-color: teal;
      transition: width 0.35s;
      -webkit-transition: width 0.35s;
      overflow: hidden;
      text-decoration: none;

      &:hover {
        width: 100px;
      }
    }

    &-avatar {
      width: 30px;
      border-radius: 50px;
      float: left;
    }

    &-text {
      font-size: 0.8em;
      font-family: "Oswald", sans-serif;
      position: relative;
      right: -13px;
      bottom: -7px;
      overflow: hidden;
      letter-spacing: 3px;
      opacity: 0;
      transition: opacity 0.45s;
      -webkit-transition: opacity 0.35s;
    }

    &-button:hover .header__logout-text {
      opacity: 0.9;
    }
  }

  // img {
  //   width: 30px;
  //   border-radius: 50px;
  //   float: left;
  // }

  // .logout {
  //   font-size: 0.8em;
  //   font-family: "Oswald", sans-serif;
  //   position: relative;
  //   right: -13px;
  //   bottom: -7px;
  //   overflow: hidden;
  //   letter-spacing: 3px;
  //   opacity: 0;
  //   transition: opacity 0.45s;
  //   -webkit-transition: opacity 0.35s;
  // }

  // .button {
  //   text-decoration: none;
  //   float: right;
  //   padding: 0 12px;
  //   margin: 15px;
  //   color: white;
  //   width: 25px;
  //   background-color: teal;
  //   transition: width 0.35s;
  //   -webkit-transition: width 0.35s;
  //   overflow: hidden;
  // }

  // a:hover {
  //   width: 100px;
  // }

  // a:hover .logout {
  //   opacity: 0.9;
  // }

  // a {
  //   text-decoration: none;
  // }
}
