.appform {
  width: 30vw;
  height: 100%;
  position: fixed;

  &__form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: center;
  }
}
